doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/general.css')
  link(rel='stylesheet' href='/css/buttons.css')
  link(rel='stylesheet' href='/css/modal.css')
  link(rel='stylesheet' href='/css/edit-profile.css')
  link(rel='stylesheet' href='/css/confirm-delete.css')
  link(href='https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap' rel='stylesheet')
  title Document
  script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
  script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
.edit-profile-container.hidden
  .backdrop
  .modal.edit-profile
    header.edit-profile__header
      ion-icon.edit-profile__close.btn--closeForm(name='close-outline')
      h2.edit-profile__title Edit profile
      button.btn.btn--save.btn--black Save
    .edit-profile__images
      .edit-profile__background-container
        img.edit-profile__background(src='/img/users/backgrounds/default.jpg')
        label
          input#background(type='file' style='display: none')
          ion-icon.edit-profile__background-change-icon(name='camera-outline')
      .edit-profile__avatar-container
        img.edit-profile__avatar(src='/img/users/avatars/default.jpg')
        label
          input#avatar(type='file' style='display: none')
          ion-icon.edit-profile__avatar-change-icon(name='camera-outline')
      .edit-profile__avatar-spacer
    form.edit-profile__form
      .edit-profile__form-element
        label.edit-profile__form-label(for='name') Name
        input#name.edit-profile__form-input(type='text' name='name')
      .edit-profile__form-element
        label.edit-profile__form-label(for='education') Education
        input#education.edit-profile__form-input(type='text' name='education')
      .edit-profile__form-element
        label.edit-profile__form-label(for='education') Job Title
        input#jobTitle.edit-profile__form-input(type='text')
      .edit-profile__form-element
        label.edit-profile__form-label(for='overview') Biography
        input#overview.edit-profile__form-input(type='text' name='overview')
      .edit-profile__form-element
        label.edit-profile__form-label(for='specialities')
          | Specialities (seperate your skills by colon, e.g
          | React;Javascript;Python)
        input#specialities.edit-profile__form-input(type='text')
      .edit-profile__form-element
        label.edit-profile__form-label(for='email') Email
        input#email.edit-profile__form-input(type='text' name='email')
      .edit-profile__form-element
        label.edit-profile__form-label(for='phoneNumber') Phone Number
        input#phoneNumber.edit-profile__form-input(type='text' name='phoneNumber')
      .edit-profile__form-element
        label.edit-profile__form-label(for='website') Website
        input#website.edit-profile__form-input(type='text' name='website')
      .edit-profile__form-element
        input#lookingForJob.edit-profile__form-input(type='checkbox' required='true' name='lookingForJob')
        label.edit-profile__form-label(for='lookingForJob') Looking For Job 

    // <button class="btn btn--red btn--deleteAccount">Delete account</button>
